/*App.scss*/
$gold: rgb(132, 117, 78);
$highlight: #eab333;

@font-face {
	font-family: 'Denz';
	src: url('/assets/denz.woff');
}

@font-face {
	font-family: 'Gara';
	src: url('/assets/Gara.woff');
}

@font-face {
	font-family: 'GaraBold';
	src: url('/assets/GaraBold.woff');
}



body {
	font-family: Gara;
	transition: all .5s;
	letter-spacing: 0.015em;
	color: rgba(0,0,0,.9);

	a {
		text-decoration: none;
		cursor: pointer;
		color: $gold;
		transition: .25s;
	}

	a:hover {
		color: $highlight;
	}
}

h1, h2, h3, h4 {
	font-family: Denz;
	font-weight: normal;
	letter-spacing: 0.15em;
}

h5 {
	font-family: GaraBold;
	font-size: 1.05em;
	font-weight: normal;
	letter-spacing: 0.025em;
}

p {
	color: rgba(0,0,0,.45);
}

.nav-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: .25em .5em;
    line-height: 0.5em;
    cursor: pointer;
    z-index: 100;
    font-family: GaraBold;
    color: black;
    /* letter-spacing: .15em; */
    font-size: 5em; 
    opacity: 0;
    transition: .5s;
    color: $gold;

	&:hover {
		color: $highlight;
		cursor: pointer;
	}
}

.nav-page {
	position: fixed;
	top: 0;
	right: -35em;
	height: 100vh;
	width: 100vw;
	max-width: 35em;
	z-index: 50;
	transition: .5s ease-out;
	background-color: rgba(0,0,0,.975);

	.nav-flex-container {
		display: -webkit-flex;
		display: flex;
	    -webkit-flex-direction: column;
	   	flex-direction: column;
	   	height: 90vh;
	   	width: 80vw;
	   	max-width: 17.5em;
	   	margin: 5vh auto;

	   	-webkit-align-items: left;
   		align-items: left;
        -webkit-justify-content: center;
   		justify-content: center;

		.nav-page-item {
		    padding-left: 0;
		    text-transform: uppercase;
		    font-weight: normal;
		    font-size: 2em;
		    letter-spacing: .35em;
		    transition: 1s;
		    color: white !important;
		}

		.nav-page-item:hover {
			color: $highlight !important;
			padding-left: .25em;
			cursor: pointer;
		}

		.nav-page-item a:hover {
			color: $highlight !important;
			transition: 1s;
			cursor: pointer;
		}
	}
}

.intro-page {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	overflow-x: hidden;
	text-align: center;

	.intro-CPU {
		position: relative;
		width: 90vw;
		max-width: 60em;
		margin: calc(10em - 5vw) auto 0;
		left: 0;
		top: 0;
	}

	.intro-band {
		position: fixed;
		bottom: 0;
		left: 0;
		text-align: center;
		padding: 1.5em 0;
		background-color: rgba(255,255,255,.9);
		width: 100vw;
/*		z-index: 200;*/

		h1 {
			letter-spacing: 1vw;
			font-size: 5vw;
			margin: .25em 0;
			/*color: rgb(132, 117, 78);*/
			color: white;
		}

		h3 {
			margin: 0;
			font-family: Gara;
			font-size: 1.25em;
			letter-spacing: .05em;
			color: rgba(0,0,0,.5);
		}
	}
}

.work-page {
	padding-bottom: 5em;
	.work-section {
		position: absolute;
		top: 0;
		margin: 20vh 13vw;
		width: 70vw;
		max-width: 45em;

		.work-icons {
			display: inline-block;
			height: 1.75em;
			position: relative;
			margin-bottom: 1.5em;
			cursor: pointer;
			width: 3.5em;

			.work-icon {
				display: inline-block;
				height: 1.5em;
				width: 1.5em;
				background-size: cover;
				background-image: url(/assets/img/icons.png);
			}

			h5 {
				position: absolute;
				display: inline-block;
				line-height: 1.5em;
				height: 1.5em;
				top: 0;
				margin: 0 .25em;
				color: black;
			}
			h5:hover {
				color: $highlight;
			}
		}

		.work-description {
			.more-info {
				cursor: pointer;
			}

			h2 {
				text-transform: uppercase;
				letter-spacing: .175em;
				font-size: 1.75em;
				font-weight: normal;
			}

			h5 {
				font-size: 1.25em;
				letter-spacing: .05em;
				margin-bottom: 0;
			}

			p {
				font-size: 1em;
				letter-spacing: .025em;
				line-height: 1.325em;
			}
		}

		.work-page-control {
			display: block;

			.work-position-display {
				display: inline-block;

				.position-dot {
					display: inline-block;
					margin: 0 .25em;
					border-radius: 1.5em;
					height: .75em;
					width: .75em;
					background-color: rgba(0,0,0,.3);
					transition: all .5s;
				}

				.active {
					background-color: rgba(0,0,0,1);
				}
			}

			.next-sect-button {
				font-family: GaraBold;
				display: inline-block;
				letter-spacing: .15em;
				cursor: pointer;
				padding: .5em 1em;
				color: $gold;
			}

			.next-sect-button:hover {
				color: $highlight;
			}
		}
	}


}

.experience-page {
	padding: 0 1em;
	margin: 3.5em auto;
	max-width: 45em;

	.work-icons {
		display: inline-block;
		height: 1.75em;
		position: relative;
		margin-bottom: 0em;
		cursor: pointer;
		width: 6.5em;

		.linked {
			background-position: right;
		}

		.work-icon {
			display: inline-block;
			height: 1.5em;
			width: 1.5em;
			background-size: cover;
			background-image: url(/assets/img/icons.png);
			background-repeat: no-repeat;
		}

		h5 {
			position: absolute;
			display: inline-block;
			line-height: 1.5em;
			height: 1.5em;
			top: 0;
			margin: 0 .25em;
		}
	}

	h3 {
		margin: 2em 0 0;
	}

	h5 {
		margin-bottom: 0;
	}

	p {
		line-height: 1.25em;
	}

}

.contact-page {
	padding: 0 1em;
	margin: 5em auto;
	max-width: 25em;


	label {
		display: block;
		margin-top: 1.5em;
	}

	input, textarea {
		width: 100%;
		border: solid 1px rgba(0,0,0,.125);
		padding: .5em .25em .25em;

		font-family: Gara;
		font-size: 1.05em;
	}

	textarea {
		height: 5em;
	}

	button {
		width: 100%;
		margin: 0 auto;
		border: none;
		text-align: right;
		padding: .5em;
		font-family: GaraBold;
		font-size: 1.15em;
		background-color: transparent;
		cursor: pointer;
		transition: 1s;
		color: $gold;
	}

	button:hover {
		color: $highlight;
		padding-right: 1em;
	}
}

@media (max-width: 40em) {
	.intro-page {
		.intro-CPU {
			width: 130vw;
			margin: 10em -15vw 0;
			left: 0;
			top: 0;
		}
	}
}


@media (max-width: 25em) {
	.work-page {
		.work-section {
			position: absolute;
			top: 0;
			margin: 10vh 6vw;
			width: 83vw;
		}		
	}

	.nav-page {
		.nav-flex-container {
			.nav-page-item {
				font-size: 2em;
			}
		}
	}

	.intro-band {
		h3 {
			font-size: 1em !important;
		}
	}
}