<form action="https://formspree.io/michaeljmccready@gmail.com"
      method="POST" autocomplete="on">
    <input type="hidden" name="_next" value="/" />
    <input type="hidden" name="_subject" value="MIMIC mail" />
    <label for="name">
    	<span class="form-label">Name</span>
    	<input type="text" 
    	name="name" 
    	required 
    	placeholder="Introduce yourself!">
    </label>

    <label for="email">
    	<span class="form-label">Email</span>
    	<input type="email" 
    	name="_replyto" 
    	required 
    	placeholder="me@myself.com">
    </label>

    <label for="details">
    	<span class="form-label">Details</span>
    	<textarea type="text" 
    	name="details" 
    	required></textarea>
    </label>    
    <input type="submit" value="Send">
</form>