<div class="resume">
	<section>
		<h3>SKILLS</h3>
		<div class="skills">
			<h5>Software Development</h5>
			<p>Javascript, Ruby on Rails, HTML5 and CSS3.</p>
			<p>Database design with Firebase, Postgresql, and MongoDB.</p>
			<p>Frameworks including Angular and React Js.
			<p>Front-End technologies including Bootstrap, Foundation, Webpack, LiveReload, LESS/SASS, and Web Animation.</p>
			<p>Heroku Deployment, Github | Version Control, Amazon S3, and Pivotal Tracker.</p>
			<p>Ad technologies including Google DoubleClick, Sizmek, Jivox, and Celtra.</p>

			<h5>Visual & Interactive Design</h5>
			<p>Responsive Design, Mobile Optimized Applications, User Experience</p>
			<p>Photoshop, Illustrator, Indesign</p>
		</div>	
	</section>

	<section>
		<h3>EXPERIENCE</h3>
		<div class="experience">
			<h5>Xaxis</h5>
			<p>Interactive Developer  |  Mar. 2016 - Present</p>

			<h5>Inspero</h5>
			<p>Front-end Developer & User Interface Design  |  Nov. 2015 - Mar. 2016</p>
			<p>Designed and developed elements from wireframe sketches to mockups to production features.</p>
			<p>Reworked existing features to improve user flow and function.</p>
			<p>Created and implemented fully responsive interfaces to maximize usability <p>across all devices.</p>

			<h5>Rhubarb Studios</h5> 
			<p>Full Stack Developer & User Experience Design  |  Aug. 2015 - Oct. 2015</p>
			<p>Developed a web application to connect entreprenuers with workspaces.</p>
			<p>Conducted user testing to improve app function and design.</p>
			<p>Practiced AGILE development to rapidly add new features and accelerate work flow.</p>

			<h5>Independent Designer</h5>
			<p>Sept. 2014 - Present</p>
			<p>Designed mobile and web applications.</p>
			<p>Developed cohesive brand identities including logos,  color-scheme, typography,  and collateral.</p>

			<h5>Coalition Technologies</h5> 
			<p>Design Intern  |  Oct. 2014 - Dec. 2014</p>
			<p>Designed wireframes and mockups for client websites.</p> 
			<p>Developed client branding including engaging ads and web banners for promotions.</p>
		</div>	
	</section>

	<section>
		<h3>EDUCATION</h3>
		<div class="education">
			<h5>Udacity</h5> 
			<p>Senior Web Developer Nanodegree |  In Progress</p>
			<p>Subjects include: high conversion web forms, tooling & automation, JavaScript promises, offline applications, and front-end frameworks</p>

			<h5>General Assembly</h5> 
			<p>Web Development Immersive  |  Graduated  July 2015</p>
			<p>Intensive full stack development bootcamp.</p>

			<h5>Harvard Extension</h5> 
			<p>Intensive Introduction to Computer Science  |  Completion Dec. 2015</p>
			<p>Subjects covering software engineering and web development,
			including programming with C, PHP,  and JavaScript plus SQL.</p>

			<h5>University of California Los Angeles Extension</h5> 
			<p>Advanced Interactive Design  |  Graduated  March 2015</p>
			<p>Subjects covering  branding/corporate identity, advertising, 
			typography, strategic marketing,responsive web design, and user experience.</p>

			<h5>University of California Santa Barbara</h5> 
			<p>Bachelor of Business Economics  |  Graduated June 2009</p>
			<p>Coursework including Microeconomic &  Macroeconomic Theory, Financial Management, and Professional Writing.</p>
		</div>
	</section>
</div>	