<div class="work-container">
	<div class="work">
		<div class="works-mobile-mock">
			<img src="./assets/meetup_mock.png">
		</div>	
		<div class="works-desc">
			<h2 class="works-ttl">
				<a href="http://mikemccready.github.io/react_meetup/dist" target="_blank">REACT MEETUP</a>
			</h2>				
			<h4>Meetup App built with React</h4>
			<ul>  
				<li>React Js</li>
				<li>Webpack</li>
				<li>SASS</li>
				<li>Live Reload</li>
				<li>Client-Side Validation</li>
				<li>Mobile Optimized</li>
			</ul>
		</div>
	</div>
	<div class="work">
		<div class="works-mobile-mock">
			<img src="./assets/sotps_mock.png">
		</div>	
		<div class="works-desc">
			<h2 class="works-ttl">
				<a href="https://sotps.herokuapp.com/" target="_blank">SUM OF THE PARTS</a>
			</h2>				
			<h4>Idea Accelerator built with Ruby on Rails and Foundation</h4>
			<ul>  
				<li>Facebook OmniAuth</li>
				<li>Stripe Integration</li>
				<li>Amazon S3</li>
				<li>Responsive & Mobile Optimized</li>
				<li>Heroku Deployed</li>
				<li>PostgreSQL Database</li>
			</ul>
		</div>
	</div>

	<div class="work">
		<div class="works-mobile-mock">
			<img src="./assets/appty_mock.png">
		</div>		
		<div class="works-desc">
			<h2 class="works-ttl">
				<a href="http://apptyapp.herokuapp.com/" target="_blank">APPTY</a>
			</h2>			
			<h4>Appointment booking with Ruby on Rails and Bootstrap</h4>
			<ul>  
				<li>Google OmniAuth</li>
				<li>Google Calendar API Integration</li>
				<li>Responsive & Mobile Optimized</li>
				<li>Heroku Deployed</li>
				<li>PostgreSQL Database</li>
			</ul>
		</div>		
	</div>

	<div class="work">
		<div class="works-mobile-mock">
			<img src="./assets/gtd_mock.png">
		</div>	
		<div class="works-desc">
			<h2 class="works-ttl">
				<a href="https://getthatdough.firebaseapp.com/" target="_blank">GET THAT DOUGH</a>
			</h2>			
			<h4>Tic-Tac-Toe game built with Angular.js and Firebase</h4>
			<ul>  
				<li>Real-time gameplay on multiple devices</li>
				<li>CSS animation</li>
				<li>Responsive & Mobile Optimized</li>
				<li>Firebase Application</li>
			</ul>
		</div>	
	</div>

	<div class="work">
		<div class="works-responsive-mock">
			<img src="./assets/KILOSResponsive.png">
		</div>	
		<div class="works-desc">
			<h2 class="works-ttl">
				<a href="./assets/pdf/MMcCreadyKilosResponsiveUX.pdf" target="_blank">KILOS UX</a>
			</h2>			
			<h4>Lo-fi Ecommerce site mockup</h4>
			<ul>  
				<li>Responsive Design</li>
				<li>Built with Adobe Photoshop, Illustrator and Indesign</li>
			</ul>
		</div>	
	</div>
</div>